
body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: url("./41051941_1.jpeg") no-repeat center center fixed;
  background-size: cover;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(4px);
  z-index: -1;
}
html, body, #root {
  height: 100%;
  margin: 0;
  width: 100%;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: rgba(21, 100, 191, 0.9);
  padding: 40px 35px;
  width: 360px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid #d4dce6;
}

.login-title {
  text-align: center;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 600;
  color: #f5f5f5;
}

.login-subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
  color: #aeb7c2; 
}

label {
  font-size: 14px;
  color: #011345;
  margin-bottom: 5px;
  display: block;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #c2ccd5;
  border-radius: 6px;
  font-size: 14px;
  transition: all .2s ease;
  background: #f9fbfc;
  box-sizing: border-box;
}

input:focus {
  border-color: #3b7ddd;
  background: #fff;
  outline: none;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #df1a14 !important;
  border: none;
  color: #f5f5f5 !important;
  font-size: 15px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background .2s ease;
  box-sizing: border-box;
}

button:hover {
  background: #b01510;
}
